<form action="{% url 'events:save-event' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>Create an Event</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        
        <label for="event_name">Event Name:</label>
        <input type="text" name="event_name" id="event_name" placeholder="Add Event Name" required>
        
        <label for="start_time">Start Time:</label>
        <input type="datetime-local" name="start_time" id="start_time" required>
        
        <label for="end_time">End Time:</label>
        <input type="datetime-local" name="end_time" id="end_time" required>

        <label for="capacity">Capacity:</label>
        <input type="number" name="capacity" id="capacity" placeholder="Capacity" required>

    </fieldset>
    <input type="submit" value="CREATE">
</form>
