{% extends "events/base.html" %}

{% block title %}
{{ event }}
{% endblock %}


{% block extra_styles %}
<style>

.join-button {
    width: 75%;
    font-size: 1.5em
}

.event-detail-container {
    width: 75%;
    min-width: 380px;
}

.creator-action-button {
    width: 100%;
}

.approved-join-list {
    width: 75%;
}

.pending-join-list {
    width: 75%;
}

.join-entry {
    display: flex;
    justify-content: space-between; /* This will space out the child elements */
    align-items: center; /* This will vertically align the child elements */
    padding: 1%;
    gap: 10px;
}

.join-entry-text {
    flex-grow: 1;
}

.comment-action {
    justify-content: space-between;
}

.gray-container {
    background-color: #eaeaea;
}

.sticky-note-outline-container {
    background-color:rgba(255,255,255,0.3);
    padding: 20px;
    border-radius: 25px;
    /* box-shadow: 5px 5px 15px rgba(0,0,0,0.2); */
    margin: 0;
    border-style: dashed;
    border-color: #afcff3;

}

.replies{
    border: 1px solid #b8b8b8;
    background-color: rgba(175,207,243,0.3);
}

.reply {
    border-bottom: 1px solid #b8b8b8; /* Light grey border */
    margin-bottom: 10px; /* Optional: adds some space below the border */
}

.reply:last-child {
    border-bottom: none;
}
</style>


{% endblock %}

{% block content %}
{% if messages %}
    <div id="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dimissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    </div>
{% endif %}
<div class="container-fluid m-5">
    <div class="row">
        <!-- Left 2/3 of the page for event details -->
        <div class="col-md-8 my-3">
            <div class="event-detail-container mb-4">
                <div class="sticky-note-container">
                    <div class="my-3"><h1>{{ event.event_name }}</h1></div>
                    <h4>Creator</h4>
                    <p>{{ event.creator }}</p>
                    <h4>Date and Time</h4>
                    <p>from {{ event.start_time }} to {{ event.end_time }}</p>
                    <!-- <img src="event-image.jpg" alt="Event Image" class="img-fluid rounded"> -->
                    <h4>Location</h4>
                    <p>{{ location }}, {{ location.address }} ({{ location.category }})</p>
                    <h4>Capacity</h4>
                    <p>{{ event.capacity }}</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget tortor in eros euismod dignissim. Vivamus posuere, 
                        justo sit amet vehicula eleifend, tortor purus viverra elit, ac convallis tortor urna at eros. 
                        Sed ac enim at purus bibendum placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Nullam eget tortor in eros euismod dignissim. Vivamus posuere, justo sit amet vehicula eleifend, 
                        tortor purus viverra elit, ac convallis tortor urna at eros. 
                        Sed ac enim at purus bibendum placerat.
                    </p>
                    <!-- Add more event details here -->
                </div>
            </div>
            <div class="add-comment-form event-detail-container my-5">
                <div class="sticky-note-container gray-container">
                    <form action="{% url 'events:add-comment' event.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <textarea class="form-control" name="content" id="content-comment" placeholder="Share what you think about the event" required></textarea>
                            {% if comment_form.content.errors %}
                                <div class="invalid-feedback">
                                    {{ comment_form.content.errors.as_text }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group d-flex align-items-center mt-3 comment-action">
                            <div class="form-check form-switch">
                                <input type="checkbox" name="is_private" id="is_private" class="form-check-input" {% if comment_form.is_private.value %} checked {% endif %}>
                                <label for="is_private" class="form-check-label">Make This Comment Private</label>
                                {% if comment_form.is_private.errors %}
                                    <div class="invalid-feedback d-block">
                                        {{ comment_form.is_private.errors.as_text }}
                                    </div>
                                {% endif %}
                            </div>
                            {% if user.is_authenticated %}
                                <button type="submit" class="btn btn-primary btn-block comment-button" id="add-comment">Comment</button>
                            {% else %}
                                <!-- Link for non-authenticated users to log in and then comment -->
                                <a href="{% url 'login' %}?next={% url 'events:event-detail' event_id=event.id %}" class="btn btn-primary btn-block comment-button">Comment</a>
                            {% endif %}
                        </div>  
                    </form>
                </div>
            </div>
            <div class="custom-control custom-switch my-5 mx-1">
                <input type="checkbox" class="custom-control-input" id="creator-comments-only" onchange="toggleCreatorComments()" {% if creator_comments_only %} checked {% endif %}>
                <label class="custom-control-label" for="creator-comments-only">Converstaions Started by Event Creator Only</label>
            </div>
            <div class="event-detail-container my-5">            
                {% for comment, replies in comments_with_replies %}
                    <!-- Check if the comment is visible to the current user -->
                    {% if not comment.is_private or request.user == comment.user or request.user == event.creator %}
                        <div class="comment sticky-note-outline-container my-4">
                            <div class="row">
                                <div class="col-md-auto">
                                    {% if comment.is_private %}
                                        <h5>{{ comment.user }}: (private comment)</h5>
                                    {% else %}
                                        <h5>{{ comment.user }}:</h5>
                                    {% endif %}
                                </div>
                                <div class="col-md-auto">
                                    <p> at {{ comment.created_at|date:"Y-m-d H:i" }}</p>
                                </div>
                            </div>
                            <p>{{ comment.content }}</p>
                            <!-- Toggle reply form -->
                            <button type="button" class="btn btn-outline-primary btn-block comment-button" onclick="showReplyForm({{ comment.id }}, {{ comment.is_private|lower }});">Reply</button>
                            <!-- Hidden Reply form -->
                            <div id="reply-form-placeholder-{{ comment.id }}"></div>
                            
                            {% if replies %}
                                <div class="replies sticky-note-outline-container my-4">
                                    {% for reply in replies %}
                                        {% if not reply.is_private or request.user == reply.parent.user or request.user == event.creator %}
                                            <div class="reply">
                                                <div class="row">
                                                    <div class="col-md-auto">
                                                        {% if reply.is_private %}
                                                            <h5>{{ reply.user }}: (private comment)</h5>
                                                        {% else %}
                                                            <h5>{{ reply.user }}:</h5>
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-md-auto">
                                                        <p> at {{ reply.created_at|date:"Y-m-d H:i" }}</p>
                                                    </div>
                                                    <p>{{ reply.content }}</p>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
                <div id="reply-form" style="display:none;">
                    <div class="sticky-note-container gray-container mt-3">
                        <form action="{% url 'events:add-comment' event.id %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="hidden" name="parent_id" value="{{ comment.id }}" id="parent_id">
                                <textarea class="form-control" name="content" id="content-reply" placeholder="Wanna know more?" required></textarea>
                            </div>
                            <div class="form-group d-flex align-items-center mt-3 comment-action">
                                <div class="form-check form-switch">
                                    <input type="checkbox" name="is_private" id="is_private-reply" class="form-check-input">             
                                    <label for="is_private" class="form-check-label">Make This Comment Private</label>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block comment-button" id="add-comment">Reply</button>
                            </div>  
                        </form>
                    </div>
                </div>     
            </div>
            
        </div>
        <!-- Right 1/3 of the page for the "Join Us" button -->
        <div class="col-md-4 my-3">
            {% if user.is_authenticated %}
                {% if user != event.creator %}
                    <!-- The user is not the creator of the event -->
                    {% if join_status == PENDING %}
                        <!-- Button to withdraw request -->
                        <form action="{% url 'events:toggle-join-request' event.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-primary btn-block join-button" id="withdraw-to-join" onclick="return confirm('Are you sure you want to withdraw your request?');">Withdraw the Request</button>
                        </form>   
                    {% elif join_status == WITHDRAWN or join_status == None or join_status == REJECTED or join_status == REMOVED %}
                        <!-- Button to join again or create a new EventJoin object-->
                        <form action="{% url 'events:toggle-join-request' event.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary btn-block join-button" id="request-to-join" onclick="return confirm('Ready to send a request to join?');">Request to Join</button>
                        </form>
                    {% elif join_status == APPROVED %}
                    <!-- show that the request is approved-->
                    <div class="btn btn-primary btn-block join-button" id="approved-fake">Approved</div>  
                    {% endif %}
                    <div class="approved-join-list sticky-note-container my-4">
                        <h3>Participants</h3>
                        <div class="join-entry">{{ event.creator }}</div>
                        {% for join in approved_join %}
                            <div class="join-entry">
                                {{ join.user }}</div>
                        {% endfor %}
                    </div>
                {% else %}
                    <!-- The user is the creator of the event -->
                    <div class="btn btn-primary btn-block join-button" id="my-event-fake">My Event</div>
                    <div class="pending-join-list sticky-note-container my-4">
                        <h3>Pending Participants ({{ pending_join_count }})</h3>
                        {% for join in pending_join %}
                            <div class="join-entry">
                                <div class="join-entry-text">{{ join.user }}</div>
                                <form action="{% url 'events:approve-request' event.id join.user.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary btn-block creator-action-button" id="approve-to-join">Approve</button>
                                </form>
                                <form action="{% url 'events:reject-request' event.id join.user.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-primary btn-block creator-action-button" id="reject-to-join">Reject</button>
                                </form>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="approved-join-list sticky-note-container my-4">
                        <h3>Approved Participants ({{ approved_join_count }}) </h3>
                        {% for join in approved_join %}
                            <div class="join-entry">
                                <div class="join-entry-text">{{ join.user }}</div>
                                <form action="{% url 'events:remove-approved-request' event.id join.user.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-primary btn-block creator-action-button" id="remove-approved-to-join" onclick="return confirm('Are you suer to remove this person?');">Remove</button>
                                </form>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% else %}
                <!-- Link for non-authenticated users to log in and then join -->
                <a href="{% url 'login' %}?next={% url 'events:event-detail' event_id=event.id %}" class="btn btn-primary btn-block join-button">Join and See Participants</a>
            {% endif %} 
        </div>
    </div>

    
    
    
</div>
  
{% endblock %}

{% block extra_scripts %}

<script type="text/javascript">
    function toggleCreatorComments() {
        var isChecked = document.getElementById('creator-comments-only').checked;
        var url = new URL(window.location);
        url.searchParams.set('creator_comments_only', isChecked);
        window.location = url;
    }

    function showReplyForm(commentId, isParentPrivate) {
        // Move the reply form to the placeholder of the selected comment
        var placeholder = document.getElementById("reply-form-placeholder-" + commentId);
        var form = document.getElementById("reply-form");
        if (!placeholder || !form) {
        console.error("Element not found. Placeholder or form is null.");
        return;
    }
        placeholder.appendChild(form);

        // Set the parent_id value
        document.getElementById('parent_id').value = commentId;

        var isPrivateCheckbox = document.getElementById('is_private-reply');
        if (isParentPrivate) {
            isPrivateCheckbox.checked = true;
            isPrivateCheckbox.disabled = true;
        } else {
            isPrivateCheckbox.checked = false;
            isPrivateCheckbox.disabled = false;
        }
        // Show the form
        form.style.display = 'block';
    }
</script>   
{% endblock %}

