{% extends "events/base.html" %}
{% load static %}

{% block title %}
Event List
{% endblock %}

{% block extra_styles %}
<style>
    .sticky-note-container {
        width: 100%;
        background-color: #a6cff4;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
        margin: 0;
    }

    li.event-item {
        list-style: none;
        background-color: #f6f6f6;
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
    }

    .button-container form {
        margin: 0;
    }
</style>

<!-- Fonts from create-events.html -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="sticky-note-container mt-5">
    <h1>Events</h1>
    <ul>
        {% for event in events %}
        <li class="event-item">
            <a href="{% url 'events:event-detail' event.id %}"><strong>{{ event.event_name }}</strong></a>
            <p>Event Location: {{ event.event_location }}</p>
            <p>Start time: {{ event.start_time }}</p>
            <p>End Time: {{ event.end_time }}</p>
            <p>Capacity: {{ event.capacity }}</p>
            {% if user.is_authenticated and user == event.creator %}
                <div class="button-container">
                    <form method="post" action="{% url 'events:delete-event' event.id %}" onsubmit="return confirm('Are you sure you want to delete this event?');">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="delete">
                        <button class="btn btn-primary" type="submit">Delete Event</button>
                    </form>
                    <form method="GET" action="{% url 'events:update-event' event.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="delete">
                        <button class="btn btn-primary" type="submit">Update Event</button>
                    </form>
                </div>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
