{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Events{% endblock %}</title>
    <!-- Link Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'events/css/bootstrap.min.css' %}">
    <!-- Your Custom CSS -->
    <link rel="stylesheet" href="{% static 'events/css/styles.css' %}">
    {% block extra_styles %}
<style>   
    .sticky-note-container-big {
        width: 100%;
        background-color: #a6cff4;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
        margin: 0;
    }
    .filter-form {
        padding-left: 2rem;
        margin-bottom: 20px;
    }
    .search_name {
        border-radius: 5px;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
        margin-right: 20px;
    }

    li.event-item {
        list-style: none;
        background-color: #f6f6f6;
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
    }

    .button-container form {
        margin: 0;
    }

</style>
    {% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="banner">
            <h1>Cheer↑</h1>
        </div>
        
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!-- Brand/logo -->
            <a class="navbar-brand" href="#">Cheer↑</a>
            
            <!-- Toggler/collapsible Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Find Out Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">My events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Default content goes here, if any -->
        <div class="container">
        <div class="sticky-note-container-big mt-5">
            <h1>Events</h1>
            <!-- Filtering form -->
            <form method="get" action="{% url 'events:index' %}" class="filter-form" onsubmit="return validateForm()">
                <label for="start_time">Start Time:</label>
                <input type="datetime-local" name="start_time" id="start_time" required>

                <label for="end_time">End Time:</label>
                <input type="datetime-local" name="end_time" id="end_time" required>
                <div class="padding-16"></div>
                <br>
                <label for="min_capacity">Minimum Capacity:</label>
                <input type="number" id="min_capacity" name="min_capacity" min="0" value="0">
                
                <label for="max_capacity">Maximum Capacity:</label>
                <input type="number" id="max_capacity" name="max_capacity" min="0" value="100">
                <br>
                <input type="submit" value="Filter" class="btn btn-primary">
                <div class="padding-16"></div>
                <br>
                <label for="search_name">Search Events:</label>
                <input type="text" name="search" class="search_name" id="search_name" placeholder=" Event Name or Location...">
                <br>
                <input type="submit" value="Filter" class="btn btn-secondary">
            </form>

            <!-- Error messages for invalid input -->
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endif %}
            <ul>
                {% for event in events %}
                <li class="event-item">
                    <a id={{event.id}} href="{% url 'events:event-detail' event.id %}" class="event-name"><strong>{{ event.event_name }}</strong></a>
                    <p>Event Location: {{ event.event_location }}</p>
                    <p>Start time: {{ event.start_time }}</p>
                    <p>End Time: {{ event.end_time }}</p>
                    <p>Capacity: {{ event.capacity }}</p>
                    {% if user.is_authenticated and user == event.creator %}
                        <div class="button-container">
                            <form method="post" action="{% url 'events:delete-event' event.id %}" onsubmit="return confirm('Are you sure you want to delete this event?');">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="delete">
                                <button class="btn btn-primary" type="submit">Delete Event</button>
                            </form>
                            <form method="GET" action="{% url 'events:update-event' event.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="delete">
                                <button class="btn btn-primary" type="submit">Update Event</button>
                            </form>
                        </div>
                    {% endif %}
                </li>
                {% empty %}
                <li>No events that fit your schedule? How about <button class="btn btn-secondary" onclick='window.location="{% url 'events:create-event' %}";'>CREATING</button> one?</li>
                {% endfor %}
            </ul>
        </div>
        <div id="map"></div>
    </div>
        {% endblock %}
    </main>


    <!-- Link Bootstrap JS -->
    <script src="{% static 'events/js/script.js' %}"></script>
    <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuFnfuacTqMttUXdVn24zdfGUHRi0XN5E&map_ids=9a7e26117f10196d&callback=initMap">
    </script>
    <script src="{% static 'events/js/bootstrap.bundle.min.js' %}"></script>
    {% block extra_scripts %}
    <script>
        function validateForm() {
          var startTime = document.getElementById('start_time').value;
          var endTime = document.getElementById('end_time').value;
          var minCapacity = document.getElementById('min_capacity').value;
          var maxCapacity = document.getElementById('max_capacity').value;
          var now = new Date().toISOString().slice(0, 16); // match the format of the datetime-local input
          
          if (startTime && startTime < now) {
            alert('Start time cannot be in the past.');
            return false;
          }
          
          if (endTime && startTime && endTime <= startTime) {
            alert('End time cannot be before start time.');
            return false;
          }
          if (minCapacity && maxCapacity && parseInt(minCapacity) > parseInt(maxCapacity)) {
            alert('Minimum capacity cannot be greater than maximum capacity.');
            return false;
          }
          
          return true;
        }

    const urlParams = new URLSearchParams(window.location.search);
    const error_message = urlParams.get('error_message');

    // Display the error message if it exists
    if (error_message) {
        alert(error_message)
    }
    // Remove the error message from the URL
    urlParams.delete('error_message');
    const newUrl = `${window.location.pathname}?${urlParams.toString()}`;
    window.history.replaceState({}, document.title, newUrl);
    </script>   
    
    {% endblock %}
</body>
<footer>
    <!-- You can put common footer content here -->
</footer>
</html>

