{% extends "events/base.html" %}

{% block title %}
Cheer↑
{% endblock %}

{% block extra_styles %}
<style>
.slogan-container {
    width: 90%;
    margin: 5% 5% 3% 5%;
    background-color: rgba(175,207,243,0.3);
    padding: 3%;
    border-radius: 25px;
    /* border: 1px solid #b8b8b8; */
}

.label-button {
    /* border-style: solid;
    border-color: #afcff3; */
    background-color: rgba(255,255,255,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #afcff3;
    margin: 0 auto
}

.label-small {
    width: 135px;
    height: 135px;
    background-color: rgba(175,207,243,0.3);
}

.label-big {
    width: 150px;
    height: 150px;
}

.label-container {
    padding: 20px;
    /* box-shadow: 5px 5px 15px rgba(0,0,0,0.2); */
    width: 90%;
    margin: 0 auto;
}

.time-label-container {
    max-width: 800px;
    margin: 0 auto;
}

.capacity-label-container {
    max-width: 1000px;
    /* min-width: 400px; */
    margin: 0 auto;
}

.label-button:hover {
    background-color: rgba(175,207,243,0.3);
}

.label-small:hover {
    background-color: rgba(255,255,255,0.3);
    border: 1px solid #b8b8b8;
}
</style>
{% endblock %}

{% block content %}
<div class="slogan-container">
    <h1 class="display-2 my-3">CheerUp </h1>
    <p class="lead"> Where Every Day Sparks Events</p>
    <hr class="my-4">
    <p> Your NYU social hub. Discover meet-up spots, plan events, and connect with your neighbors in New York City. Explore parks, museums, and more. You can list your tasks, share your goals, and keep motivated through receiving cheer and support from your neighbors. Share what you want to do and we help you find: places, teammates and support!
    </p>
</div>
<div class="label-container">
    <div class="row">
        <div class="col">
            <div class="btn rounded-circle label-button my-2 label-big" id="tag-label-button" data-bs-toggle="collapse" href="#tag_label" role="button" aria-expanded="false" aria-controls="tag_label">   
                <img src="static/events/images/bookmark.svg" alt="Bootstrap" width="32" height="32">  
            </div>
            <div class="text-center fw-bold my-2 ">TAG</div>
        </div>
        <div class="col">
            <div class="btn rounded-circle label-button my-2 label-big" id="time-label-button" data-bs-toggle="collapse" href="#time_label" role="button" aria-expanded="false" aria-controls="time_label">
                <img src="static/events/images/calendar.svg" alt="Bootstrap" width="32" height="32">  
            </div>
            <div class="text-center fw-bold my-2 ">TIME</div>
        </div>
        <div class="col">
            <div class="btn rounded-circle label-button my-2 label-big" id="capcaity-label-button" data-bs-toggle="collapse" href="#capacity_label" role="button" aria-expanded="false" aria-controls="capacity_label">
                <img src="static/events/images/people.svg" alt="Bootstrap" width="32" height="32">  
            </div>
            <div class="text-center fw-bold my-2">CAPACITY</div>
        </div>  
    </div>
    <div class="row collapse" id="tag_label">
        {% for tag in tags %}
        <div class="col">
            <a href="{% url 'root-homepage' %}?filter_tag={{ tag.id }}" class="btn rounded-circle label-button my-2 label-small">{{ tag.tag_name }}</a>
        </div>
    {% endfor %}
    </div>  
    <div class="row collapse time-label-container" id="time_label">
        <div class="col">
            <a href="{% url 'root-homepage' %}?filter_time=today" class="btn rounded-circle label-button my-2 label-small">Today</a>
        </div>
        <div class="col">
            <a href="{% url 'root-homepage' %}?filter_time=this_week" class="btn rounded-circle label-button my-2 label-small">This Week</a>
        </div>
        <div class="col">
            <a href="{% url 'root-homepage' %}?filter_time=this_month" class="btn rounded-circle label-button my-2 label-small">This Month</a>
        </div>
    </div>
    <div class="row collapse capacity-label-container" id="capacity_label">
        <div class="col">
            <a href="{% url 'root-homepage' %}?filter_capacity=s" class="col btn rounded-circle label-button my-2 label-small">S</a>
        </div>
        <div class="col">
            <a href="{% url 'root-homepage' %}?filter_capacity=s" class="col btn rounded-circle label-button my-2 label-small">M</a>
        </div>
        <div class="col">
            <a href="{% url 'root-homepage' %}?filter_capacity=s" class="col btn rounded-circle label-button my-2 label-small">L</a>
        </div>
        <div class="col">
            <a href="{% url 'root-homepage' %}?filter_capacity=s" class="col btn rounded-circle label-button my-2 label-small">XL</a>
        </div>
    </div>
</div>

{% endblock %}