{% extends "events/base.html" %}

{% block title %}
Cheer↑
{% endblock %}

{% block extra_styles %}
<style>
.slogan-container {
    width: 90%;
    margin: 2% 5% 1% 5%;
    background-color: rgba(175,207,243,1);
    padding: 4% 3% 4% 3%;
    border-radius: 25px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    /* border: 1px solid #b8b8b8; */
}

.label-container {
    width: 90%;
    margin: 3% 5% 3% 5%;
    /* background-color: rgba(175,207,243,0.3); */
    padding: 3%;
    border-radius: 25px;
    /* border: 1px solid #b8b8b8; */
}

.label-button {
    /* border-style: solid;
    border-color: #afcff3; */
    background-color: rgba(255,255,255,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #b8b8b8;
    margin: 0 auto;
    width: 120px;
    height: 120px;
}

.label-container {
    padding: 20px;
    /* box-shadow: 5px 5px 15px rgba(0,0,0,0.2); */
    width: 90%;
    margin: 0 auto;
}

.time-label-container {
    max-width: 800px;
    margin: 0 auto;
}

.capacity-label-container {
    max-width: 1000px;
    /* min-width: 400px; */
    margin: 0 auto;
}

.label-button:hover {
    background-color: rgba(175,207,243,0.3);
    border: 1px solid #afcff3;
}

#small-label {
    width: 50px;
    height: 50px;
}

#medium-label {
    width: 75px;
    height: 75px;
}

#large-label {
    width: 100px;
    height: 100px;
}

.round-corner {
    border-radius: 25%;
}

.carousel-image {
    width: 90%;
    margin: 2% 5% 1% 5%;
    height: auto;
}

.carousel-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-position: center center;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
}

.blue {
    color: rgb(124, 179, 243);
}

.latest_event_name {
    color: black;
    background-color: rgba(255,255,255,0.7);
    text-decoration: none;
    text-align: right;
}



</style>
{% endblock %}

{% block content %}
<div id="slide-show" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#slide-show" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#slide-show" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#slide-show" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#slide-show" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
            <div class="slogan-container">
                <h1 class="display-2 my-3">CheerUp </h1>
                <p class="lead"> Where Every Day Sparks Events</p>
                <hr class="my-4">
                <p> Your NYU social hub. Discover meet-up spots, plan events, and connect with your neighbors in New York City. Explore parks, museums, and more. You can list your tasks, share your goals, and keep motivated through receiving cheer and support from your neighbors. Share what you want to do and we help you find: places, teammates and support!
                </p>
            </div>
        </div>
        {% for latest_event in latest_events %}
        <div class="carousel-item" data-bs-interval="4000">
            <div class="carousel-image">
                <img src="{{ latest_event.image.url }}" alt="{{ latest_event.event_name }}" class="d-block w-100 ">
                <div class="carousel-caption d-none d-md-block">
                    <!-- <h5>{{ latest_event.event_name }}</h5> -->
                    <a href="{% url 'events:event-detail' latest_event.id %}" class="fs-5 fw-bold mt-5 latest_event_name rounded-3 p-2">{{ latest_event.event_name }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- <div class="carousel-item" data-bs-interval="4000">
            <div class="carousel-image">
                <img src="static/events/images/Met.jpg" class="d-block w-100" alt="Event Image">
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <div class="carousel-image">
                <img src="static/events/images/NYPL.jpg" class="d-block w-100" alt="Event Image">
            </div>
        </div> -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#slide-show" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#slide-show" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="label-container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <p class="nav-link fw-bold fs-5 m-3 disabled">PICK ONE!</p>
        </li>
        <li class="nav-item">
            <a class="nav-link active fw-bold fs-5 m-3 blue" id="tag-tab" data-bs-toggle="tab" data-bs-target="#tag_label">TAG</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fw-bold fs-5 m-3 blue" id="time-tab" data-bs-toggle="tab" data-bs-target="#time_label">TIME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fw-bold fs-5 m-3 blue" id="capacity-tab" data-bs-toggle="tab" data-bs-target="#capacity_label">CAPACITY</a>
        </li>
    </ul>
    <div class="tab-content my-3">
        <div class="tab-pane fade show active" id="tag_label">
            <div class="row">
                {% for tag, icon_path in tags_icons %}
                    <div class="col">
                        <a href="{% url 'root-homepage' %}?filter_tag={{ tag.id }}" class="btn rounded-circle label-button my-2"><img src="{{ icon_path }}" alt="Bootstrap" width="32" height="32"></a>
                        <p class="text-center">{{ tag.tag_name }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>  
        <div class="tab-pane fade time-label-container" id="time_label">
            <div class="row">
                <div class="col">
                    <a href="{% url 'root-homepage' %}?filter_time=today" class="btn round-corner label-button my-2"><img src="static/events/images/calendar-event.svg" alt="Bootstrap" width="32" height="32"></a>
                    <p class="text-center">Today</p>
                </div>
                <div class="col">
                    <a href="{% url 'root-homepage' %}?filter_time=this_week" class="btn round-corner label-button my-2"><img src="static/events/images/calendar-range.svg" alt="Bootstrap" width="32" height="32"></a>
                    <p class="text-center">This Week</p>
                </div>
                <div class="col">
                    <a href="{% url 'root-homepage' %}?filter_time=this_month" class="btn round-corner label-button my-2"><img src="static/events/images/calendar3.svg" alt="Bootstrap" width="32" height="32"></a>
                    <p class="text-center">This Month</p>
                </div>
            </div> 
        </div>
        <div class="tab-pane fade capacity-label-container" id="capacity_label">
            <div class="row">
                <div class="col">
                    <a href="{% url 'root-homepage' %}?filter_capacity=s" class="btn rounded-circle label-button my-2 fw-bold" id="small-label">S</a>
                </div>
                <div class="col">
                    <a href="{% url 'root-homepage' %}?filter_capacity=m" class="btn rounded-circle label-button my-2 fw-bold" id="medium-label">M</a>
                </div>
                <div class="col">
                    <a href="{% url 'root-homepage' %}?filter_capacity=l" class="btn rounded-circle label-button my-2 fw-bold" id="large-label">L</a>
                </div>
                <div class="col">
                    <a href="{% url 'root-homepage' %}?filter_capacity=xl" class="btn rounded-circle label-button my-2 fw-bold">XL</a>
                </div>
            </div> 
            <div class="row">
                <div class="col">
                    <p class="text-center">1-5</p>
                </div>
                <div class="col">
                    <p class="text-center">6-20</p>
                </div>
                <div class="col">
                    <p class="text-center">21-50</p>
                </div>
                <div class="col">
                    <p class="text-center">51-5000</p>
                </div>
            </div> 
        </div>
    </div>  
</div>

{% endblock %}

{% block extra_scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function(){
        var sloganContainer = document.querySelector('.slogan-container');
        var carouselImages = document.querySelectorAll('.carousel-image');

        carouselImages.forEach(function (image) {
            image.style.height = sloganContainer.clientHeight + 'px';
        });
    });
</script>
{% endblock %}