{% extends "events/base.html" %}

{% load static %}

{% block title %}
For YOU
{% endblock %}

{% block extra_styles %}
<style>
.recommended-events-container {
  width: 90%;
  margin: 3% 5% 3% 5%;
  border-radius: 25px;
}

.round-corner {
  border-radius: 10%;
  border-style: da;
}

.background-transparent {
  background-color: rgba(255,255,255,0.3);
}

.tag-big-button {
    background-color: rgba(255,255,255,0.3);
}

.tag-big-button:hover {
    background-color: rgba(255,255,255,0.7);
}

</style>

{% endblock %}



{% block content %}
<div class="recommended-events-container">
  {% if recommended_events_by_friend %}
    <h2 class="mt-3 mx-3">Your Friends' Events</h2>
    <p class="lead mx-3">Based on the events created by your friends</p>
    <div class="row row-cols-md-4 g-4">
      {% for recommended_event_by_friend in recommended_events_by_friend %}
        <div class="col">
          <div class="card round-corner background-transparent mx-3">
            {% if recommended_event_by_friend.image %}
              <img src="{{ recommended_event_by_friend.image.url }}" alt="{{ recommended_event_by_friend.event_name }}" class="card-img-top">
            {% else %}
              <img src="{% static 'events/images/Image_Placeholder_2.png' %}" class="card-img-top">
            {% endif %}
            <div class="card-body">
              <a href="{% url 'events:event-detail' recommended_event_by_friend.id %}" class="card-title fs-4 fw-bold">{{ recommended_event_by_friend.event_name }}</a>
              <h5 class="card-text">{{ recommended_event_by_friend.start_time }}</h5>
              <p class="card-text">{{ recommended_event_by_friend.event_location }}</p>
              <h5 class="card-text">{{ recommended_event_by_friend.capacity }}</h5>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  {% if recommended_events_by_location %}
    <h2 class="mt-3 mx-3">Go Again</h2>
    <p class="lead mx-3">Based on places your events took place</p>
    <div class="row row-cols-md-4 g-4">
      {% for recommended_event_by_location in recommended_events_by_location %}
        <div class="col">
          <div class="card round-corner background-transparent mx-3">
            {% if recommended_event_by_location.image %}
              <img src="{{ recommended_event_by_location.image.url }}" alt="{{ recommended_event_by_location.event_name }}" class="card-img-top">
            {% else %}
              <img src="{% static 'events/images/Image_Placeholder_2.png' %}" class="card-img-top">
            {% endif %}
            <div class="card-body">
              <a href="{% url 'events:event-detail' recommended_event_by_location.id %}" class="card-title fs-4 fw-bold">{{ recommended_event_by_location.event_name }}</a>
              <h5 class="card-text">{{ recommended_event_by_location.start_time }}</h5>
              <p class="card-text">{{ recommended_event_by_location.event_location }}</p>
              <h5 class="card-text">{{ recommended_event_by_location.capacity }}</h5>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  {% if favorite_events %}
  <h2 class="mt-3 mx-3">Favorites</h2>
  <p class="lead mx-3">Events happening on your favorite locations</p>
  <div class="row row-cols-md-4 g-4">
    {% for favorite_event in favorite_events %}
      <div class="col">
        <div class="card round-corner background-transparent mx-3">
          {% if favorite_event.image %}
            <img src="{{ favorite_event.image.url }}" alt="{{ favorite_event.event_name }}" class="card-img-top">
          {% else %}
            <img src="{% static 'events/images/Image_Placeholder.jpg' %}" class="card-img-top">
          {% endif %}
          <div class="card-body">
            <a href="{% url 'events:event-detail' favorite_event.id %}" class="card-title fs-4 fw-bold">{{ favorite_event.event_name }}</a>
            <h5 class="card-text">{{ favorite_event.start_time }}</h5>
            <p class="card-text">{{ favorite_event.event_location }}</p>
            <h5 class="card-text">{{ favorite_event.capacity }}</h5>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
  
  {% for tag_name, recommended_events_by_tag in recommended_events_by_tag_with_tag %}
    <h2 class="mt-3 m-3">{{ tag_name }}</h2>
    <div class="row row-cols-md-4 g-4">
      {% for recommended_event_by_tag in recommended_events_by_tag %}
        <div class="col">
          <div class="card round-corner mx-3 background-transparent">
            {% if recommended_event_by_tag.image %}
              <img src="{{ recommended_event_by_tag.image.url }}" alt="{{ recommended_event_by_tag.event_name }}" class="card-img-top">
            {% else %}
              <img src="{% static 'events/images/Image_Placeholder.jpg' %}" class="card-img-top">
            {% endif %}
            <div class="card-body">
              <a href="{% url 'events:event-detail' recommended_event_by_tag.id %}" class="card-title fs-4 fw-bold">{{ recommended_event_by_tag.event_name }}</a>
              <h5 class="card-text">{{ recommended_event_by_tag.start_time }}</h5>
              <p class="card-text">{{ recommended_event_by_tag.event_location }}</p>
              <h5 class="card-text">{{ recommended_event_by_tag.capacity }}</h5>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>



    


{% endblock %}