{% extends "events/base.html" %}

{% block title %}
Update Event
{% endblock %}


{% block extra_styles %}
<style>
/* Loader container */
.loader-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent gray background */
    z-index: 9998; /* Ensure it appears behind the loader */
}

/* Loader */
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    z-index: 9999; /* Ensure it appears on top of other elements */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.update-event-form label, 
.update-event-form textarea {
    font-size: 2rem;
    margin-top: 15px;
    margin-bottom: 2px;
    font-family: 'Caveat', cursive;
    font-weight: 700
}

#update-event-button {
    margin-top: 15px;
    width: 100%;
}
</style>
{% endblock %}

{% block content %}
<div class="loader-container">
    <div class="loader"></div>
</div>
<div class="sticky-note-container-mid mt-5">
    <form action="{% url 'events:update-event' event.id %}" method="post" class="update-event-form" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
            {% endif %}

            {% if errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in errors.values %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}

            <div class="form-group">
                <label for="image">Event Image:</label>
                <input type="file" class="form-control" name="image" id="image" accept="image/*">
                {% if event.image %}
                    <img src="{{ event.image.url }}" alt="Current Event Image" class="img-fluid rounded">
                    <!-- Add a button to delete the image if it exists -->
                    <form action="{% url 'events:delete_event_image' event.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete Image</button>
                    </form>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="event_name">Event Name:</label>
                <input type="text" class="form-control" name="event_name" id="event_name" placeholder="Event Name" value="{{ event.event_name }}" required>
            </div>

            <div class="form-group">
                <label for="start_time">Start Time:</label>
                <input type="datetime-local" class="form-control" name="start_time" id="start_time" value="{{ event.start_time|date:'Y-m-d\TH:i:s' }}" required>
            </div>

            <div class="form-group">
                <label for="end_time">End Time:</label>
                <input type="datetime-local" class="form-control" name="end_time" id="end_time" value="{{ event.end_time|date:'Y-m-d\TH:i:s' }}" required>
            </div>

            <div class="form-group">
                <label for="capacity">Capacity:</label>
                <input type="number" class="form-control" name="capacity" id="capacity" value="{{ event.capacity }}" required>
            </div>
            <div class="form-group">
                <label for="tags">Tags:</label><br>
                {% for tag in tags %}
                    <input type="checkbox" id="{{ tag.id }}" name="selected_tags" value="{{ tag }}" {% if tag in event.tags.all %}checked{% endif %}>
                    <label for="{{ tag.id }}">{{ tag }}</label><br>
                {% endfor %}
            </div>

            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" name="description" id="description">{{ event.description }}</textarea>
            </div>

            <div class="form-group">
                <input type="hidden" id="selected-location-id" name="event_location_id" value="{{ event.event_location.id }}">
                <label for="autocomplete-input">Location:</label>
                <input type="text" class="form-control" name="location" value="{{ event.event_location.location_name }}" id="autocomplete-input" required>
                <ul id="autocomplete-list" class="list-group mt-2"></ul>
            </div>

            <button type="submit" class="btn btn-primary" id="update-event-button">UPDATE EVENT</button>
        </fieldset>
    </form>
    <div class="alert alert-danger" role="alert" id="json-response" style="display: none;">
        <pre></pre>
    </div>
</div>
{% endblock %}.
{% block extra_scripts %}
<script type="text/javascript">
    const input = document.getElementById('autocomplete-input');
    const list = document.getElementById('autocomplete-list');
    const selectedIdInput = document.getElementById('selected-location-id');
    const eventNameInput = document.getElementById('event_name');
    const startTimeInput = document.getElementById('start_time');
    const endTimeInput = document.getElementById('end_time');
    const capacityInput = document.getElementById('capacity');
    const createEventButton = document.getElementById('update-event-button');
    let startTimeInvalid = false;
    let endTimeInvalid = false;
    let capacityInvalid = false;
    let isLocationNotSet = false;
    function isValidDateTime(dateTimeStr) {
    const dateTimeRegex = /^\d{2}\/\d{2}\/\d{4}, \d{2}:\d{2}$/;
    return dateTimeRegex.test(dateTimeStr);
    }
    // Replace 'YOUR_API_ENDPOINT' with the actual API endpoint you want to use to fetch location data.
    const API_ENDPOINT = '/locations/autocomplete/?term=';
    function setCreateEventButtonState() {
        if(startTimeInvalid || endTimeInvalid || capacityInvalid || isLocationNotSet || eventNameInput.value == "") {
            createEventButton.disabled = true;
        } else {
            createEventButton.disabled = false;
        }
    }

    eventNameInput.addEventListener('change', function () {
        setCreateEventButtonState()
    });


    startTimeInput.addEventListener('change', function () {
        // Validation for Start Time against the present time
        const now = new Date().toLocaleString('en-US', {
            timeZone: 'America/New_York',
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
            hour: '2-digit',
            minute: '2-digit',
            hour12: false
        });
        const date2 = new Date(startTimeInput.value);
        const startTime = date2.toLocaleString('en-US', {
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
            hour: '2-digit',
            minute: '2-digit',
            hour12: false
        });
        if (!isValidDateTime(startTime) || startTime <= now) {
            startTimeInvalid = true;
            alert("Invalid Start Time");
        } else {
            startTimeInvalid = false;
        }
        setCreateEventButtonState()
    });

    endTimeInput.addEventListener('change', function () {
        // Validation for End Time against Start Time
        const now = new Date().toLocaleString('en-US', {
            timeZone: 'America/New_York',
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
            hour: '2-digit',
            minute: '2-digit',
            hour12: false
        });
        const date1 = new Date(startTimeInput.value);
        const startTime = date1.toLocaleString('en-US', {
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
            hour: '2-digit',
            minute: '2-digit',
            hour12: false
        });
        const date2 = new Date(endTimeInput.value);
        const endTime = date2.toLocaleString('en-US', {
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
            hour: '2-digit',
            minute: '2-digit',
            hour12: false
        });
        if (!isValidDateTime(endTime) || new Date(endTime) <= new Date(startTime)) {
            endTimeInvalid = true;
            alert("Invalid End Time");
        } else {
            endTimeInvalid = false;
        }
        if (!isValidDateTime(startTime) || startTime <= now) {
            startTimeInvalid = true
            alert("Invalid Start Time");
        }
        setCreateEventButtonState()
    });

    capacityInput.addEventListener('input', function () {
        // Validation for Capacity (non-negative)
        if (capacityInput.value <= 0) {
            capacityInvalid = true;
            alert("Invalid capacity Input")
        } else {
            capacityInvalid = false
        }
        setCreateEventButtonState()
    });

    input.addEventListener('input', async function () {
        const query = input.value.toLowerCase();
        list.innerHTML = '';
        if (query) {
            try {
                const response = await fetch(API_ENDPOINT + query);
                const data = await response.json();

                data.forEach(function (item) {
                    const listItem = document.createElement('li');
                    listItem.textContent = item.text;
                    listItem.addEventListener('click', function () {
                        input.value = item.text;
                        selectedIdInput.value = item.id;
                        list.innerHTML = '';
                    });
                    list.appendChild(listItem);
                });
            } catch (error) {
                console.error('Error fetching data from the API:', error);
            }
        }
    });

    document.addEventListener('click', function (event) {
        if (event.target !== input) {
            list.innerHTML = '';
        }
    });

    const form = document.querySelector('.update-event-form');
    const jsonResponseElement = document.getElementById('json-response');
    
    form.addEventListener('submit', async (event) => {
        event.preventDefault();
        const loaderContainer = document.querySelector('.loader-container');
        // Show the loader and overlay
        loaderContainer.style.display = 'block';
        // Create a new FormData object to capture form data
        const formData = new FormData(form);

        try {
            const response = await fetch(form.action, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                },
            });
            console.log(response)
            if (response.status === 400) {
                // Display the JSON response with proper formatting
                const responseData = await response.json();
                // Create an empty string to store the values
                let valuesText = "";

                // Loop through the key-value pairs and append the values
                for (const key in responseData) {
                    if (responseData.hasOwnProperty(key)) {
                        valuesText += `${responseData[key]}\n`;
                    }
                }
                jsonResponseElement.querySelector('pre').textContent = valuesText;
                jsonResponseElement.style.display = 'block';
                loaderContainer.style.display = 'none';
            } else if (response.status === 200) {
                window.location.href = response.url
                setTimeout(() => {
                    // Hide the loader and overlay when loading is complete
                    loaderContainer.style.display = 'none';
                }, 4000);         
            }
        } catch (error) {
            console.error(error);
                loaderContainer.style.display = 'none';
        }
    });

</script>
{% endblock %}.
