language: python
dist: bionic
os: linux
python:
  - "3.11"  # Update to the actual Python 3.11 version when available

before_install:
  - sudo apt-get install sqlite3 libsqlite3-dev
  - pip install 'urllib3<2.0'

# Define your build steps, for example:
install:
  - pip install -r requirements.txt  # Install dependencies


script:
  - python -m black . --check
  - python -m flake8 --ignore=E303,E501,W503,F401 --max-line-length=88
  - python -m coverage run manage.py test
env:
  global:
    - AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID
    - AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
    - DB_KEY=$DB_KEY
    - DB_KEYP=$DB_KEYP


after_success:
  coveralls
deploy:
  on:
    branch: master
  provider: elasticbeanstalk
  access_key_id: $AWS_ACCESS_KEY_ID
  secret_access_key: $AWS_SECRET_ACCESS_KEY
  region: "us-east-1"
  app: "cheerup"
  env: "cheerup-env"
  bucket_name: "elasticbeanstalk-us-east-1-420169502545"
# You can add additional steps such as deployment configuration if needed.


