body {
    background-image: url('images/funky-lines.webp');
    background-repeat: repeat;
    /* background-color: #ffe777; */
}

.banner {
    background-color: #ffffff;  /* Example color; adjust as needed */
    padding: 20px 0;  /* Some padding for top and bottom */
    text-align: center;  /* Center the text or content */
    font-size: 5rem;  /* Increase font size for visibility */
}

.sticky-note-container-mid {
    width: 35%;
    min-width: 380px;
    min-height: 520px;
    background-color: #a6cff4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    margin: 0 auto;
}
