{% extends 'profiles/base.html' %}
{% block title %}
Notifications
{% endblock %}
{% block content %}
    <style>
        h2 {
            font-weight: bold;
            margin-left: 1%;
            margin-top: 1%;
            margin-bottom: 2%;
        }

        .notifications-container {
            width: 90%; /* Adjust the width as needed */
            margin: auto;
            /* margin-left: 5%; */
            
        }

        .notification {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #ccc;
            padding: 10px;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-bottom: 10px;
            font-weight: 600;
            background-color: #51a1d7;
            color: #fff;
        }
        .notification-read {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #ccc;
            padding: 10px;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-bottom: 10px;
            font-weight: 600;
            background-color: #e2e2e2;
        }

        .delete-button {
            background-color: #818181; /* Red color for delete button */
            color: #fff;
            border: none;
            /* padding: 3px 5px; */
            cursor: pointer;
        }
    </style>

    <h2>Notifications</h2>

    <div class="notifications-container">
        {% for notification in notifications %}
            {% if notification.is_read > 1 %}
            <div class="notification-read">
                <span class="notification-text">{{ notification.message }}</span>
                <form method="post" action="{% url 'profiles:display_notifications' %}">
                    {% csrf_token %}
                    <input type="hidden" name="notification_id" value="{{ notification.id }}">
                    <button type="submit" class="delete-button">X</button>
                </form>
            </div>
            {% else %}
            <div class="notification">
                <span class="notification-text">{{ notification.message }}</span>
                <form method="post" action="{% url 'profiles:display_notifications' %}">
                    {% csrf_token %}
                    <input type="hidden" name="notification_id" value="{{ notification.id }}">
                    <button type="submit" class="delete-button">X</button>
                </form>
            </div>
            {% endif %}
            
        {% endfor %}
    </div>
{% endblock %}
