{% extends 'profiles/base.html' %}

{% block content %}

    <div class="profile-header">
        <div class="profile-picture">
            {% if user_profile.profile_picture %}
                <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture" class="rounded-circle">
            {% endif %}
        </div>
        <div class="user-info">
            <h2>{{ user_profile.user.username }}'s Profile</h2>
            <p class="bio">{{ user_profile.bio }}</p>
        </div>
    </div>

    <div class="edit-profile">
        <button onclick="window.location.href='{% url 'profiles:edit_profile' %}'" class="btn btn-primary edit-profile-button">
            Edit Your Profile
        </button>
    </div>

    <div class="tab-container">
        <button class="tab-btn active" onclick="showTab('createdEvents')">Created Events</button>
        <button class="tab-btn" onclick="showTab('attendingEvents')">Attending Events</button>
    </div>

    <div id="createdEvents" class="tab-content">
        <div class="created-events">
            <h3>Created Events:</h3>
            {% if events %}
                <ul class="event-list">
                    {% for event in events %}
                        <li>
                            <a href="{% url 'events:event-detail' event.id %}" class="card-title fs-4 fw-bold mb-5">{{ event.event_name }}</a>
                            - {{ event.start_time }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No events created yet.</p>
            {% endif %}
        </div>
    </div>

    <div id="attendingEvents" class="tab-content" style="display: none;">
        <div class="attending-events">
            <h3>Attending Events:</h3>
            {% if attending_events %}
                <ul class="event-list">
                    {% for event in attending_events %}
                        <li>
                            <a href="{% url 'events:event-detail' event.id %}" class="card-title fs-4 fw-bold mb-5">{{ event.event_name }}</a>
                            - {{ event.start_time }}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Not attending any events yet.</p>
            {% endif %}
        </div>
    </div>
    </div>


    <div class="friend-actions">
        {% if user.is_authenticated %}
            {% if user != user_profile.user %}
                {% if friend_status == PENDING %}
                    <form action="{% url 'profiles:toggle-friend-request' user_profile.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger withdraw-button">Withdraw Friend Request</button>
                    </form>
                {% elif friend_status == WITHDRAWN or friend_status == None or friend_status == REJECTED or friend_status == REMOVED %}
                    <form action="{% url 'profiles:toggle-friend-request' user_profile.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary send-request-button">Send Friend Request</button>
                    </form>
                    <button type="submit" class="btn btn-primary btn-block join-button" id="chat" onclick="startChat('{{ user_profile.id }}');">Start Chat</button>
                {% elif friend_status == APPROVED %}
                    <div class="approved-friends">
                        <h3>Friends</h3>
                        {% for add_friend in approved_request %}
                            <div class="friend-entry">{{ add_friend.user }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% else %}

                <div class="pending-friends">
                <!-- The user is the creator of the event -->
                <!-- <div class="btn btn-primary btn-block join-button" id="my-event-fake"></div> -->
                    <h2>Manage Favorite Locations</h2>

                    <ul>
                        {% for fav_location in favorite_locations %}
                            <li>
                                {{ fav_location.location_name }}
                                <form action="{% url 'locations:remove_favorite_location' fav_location.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit">Remove</button>
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                
                    <!-- Form to add a new favorite location -->
                    <form action="{% url 'locations:add_favorite_location' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="autocomplete-input">Add Favorite Location:</label>
                            <input type="text" class="form-control" name="location_name" placeholder="Location Name" id="autocomplete-input" required>
                            <ul id="autocomplete-list" class="list-group mt-2"></ul>
                            <input type="hidden" id="selected-location-id" name="location_id"> <!-- Hidden input to store the ID -->
                        </div>
                        <button type="submit" id="add-favorite-location">Add Favorite</button>
                    </form>
                    <div class="pending-join-list sticky-note-container my-4">
                    <h3>Pending Friend Requests ({{ pending_request_count }})</h3>
                    {% for add_friend in pending_request %}
                        <div class="friend-entry">
                            <span class="friend-entry-text">{{ add_friend.user }}</span>
                            <form action="{% url 'profiles:approve-request' user_profile.id add_friend.user.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success approve-button">Accept</button>
                            </form>
                            <form action="{% url 'profiles:reject-request' user_profile.id add_friend.user.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger reject-button">Reject</button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
                <div class="approved-friends">
                    <h3>Friends ({{ approved_request_count }})</h3>
                    {% for add_friend in approved_request %}
                        <div class="friend-entry">
                            <span class="friend-entry-text">{{ add_friend.user }}</span>
                            <form action="{% url 'profiles:remove-approved-request' user_profile.id add_friend.user.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger remove-button">Remove</button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% else %}
            <a href="{% url 'login' %}?next={% url 'profiles:view_profile' user_profile.id %}" class="btn btn-primary join-button">Join and See Participants</a>
        {% endif %}
    </div>

{% endblock %}

<style>
    /* Add your existing styles here */
     .profile-header {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
    
        .profile-picture img {
            width: 100px; /* Adjust the size as needed */
            height: 100px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 20px;
        }
        .join-button {
            margin-top: 12px;
        }
        .user-info {
            flex-grow: 1;
        }
        .edit-profile-button {
            background-color: #007bff; /* Button color */
            color: #fff; /* Text color */
            padding: 10px 20px; /* Adjust padding as needed */
            border: none;
            border-radius: 5px; /* Adjust border radius as needed */
            cursor: pointer;
            text-decoration: none;
            font-size: 16px; /* Adjust font size as needed */
        }   
        
            .profile-picture img {
                width: 100px; /* Adjust the size as needed */
                height: 100px;
                object-fit: cover;
                border-radius: 50%;
                margin-right: 20px;
            }
        
            .user-info {
                flex-grow: 1;
            }
            .edit-profile-button {
                background-color: #007bff; /* Button color */
                color: #fff; /* Text color */
                padding: 10px 20px; /* Adjust padding as needed */
                border: none;
                border-radius: 5px; /* Adjust border radius as needed */
                cursor: pointer;
                text-decoration: none;
                font-size: 16px; /* Adjust font size as needed */
            }   
    .bio {
        margin-top: 10px;
    }

    .edit-profile-button {
        /* Add your existing styles here */
    }

    .event-list {
        list-style: none;
        padding: 0;
    }

    .withdraw-button,
    .send-request-button,
    .approve-button,
    .reject-button,
    .remove-button {
        margin-top: 10px;
    }

    .friend-entry {
        margin-top: 10px;
    }
</style>

<script>
    function showTab(tabName) {
        var tabs = document.getElementsByClassName('tab-content');
        for (var i = 0; i < tabs.length; i++) {
            tabs[i].style.display = 'none';
        }

        var buttons = document.getElementsByClassName('tab-btn');
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].classList.remove('active');
        }

        document.getElementById(tabName).style.display = 'block';
        document.querySelector('[onclick="showTab(\'' + tabName + '\')"]').classList.add('active');
    }
</script>

{% block extra_scripts %}
<script>
    function startChat(recipientId) {
    // Logic to start a chat or navigate to the chat page with recipient ID
    // For example:
    window.location.href = `/chat/${recipientId}/`;  // Redirect to chat with the recipient
}
    // JavaScript for location input
const input = document.getElementById('autocomplete-input');
const list = document.getElementById('autocomplete-list');
const selectedIdInput = document.getElementById('selected-location-id');
const addFavoriteButton = document.getElementById('add-favorite-location');
const API_ENDPOINT = '/locations/autocomplete/?term=';

input.addEventListener('input', async function () {
    const query = input.value.toLowerCase();
    list.innerHTML = '';
    
    if (query) {
        try {
            const response = await fetch(API_ENDPOINT + query);
            const data = await response.json();
            
            data.forEach(function (item) {
                const listItem = document.createElement('li');
                listItem.textContent = item.text; // Display the name
                listItem.addEventListener('click', function () {
                    input.value = item.text; // Set the name as the input field's value
                    console.log(item.id)
                    selectedIdInput.value = item.id; // Store the ID in the hidden input
                    list.innerHTML = '';
                });
                list.appendChild(listItem);
            });
        } catch (error) {
            console.error('Error fetching data from the API:', error);
        }
    } else {
        // Handle when the input is empty
    }
});
</script>
{% endblock %}

