{% extends "events/base.html" %}
{% load static %}
{% block title %}Password Reset Sent{% endblock %}

{% block extra_styles %}
<style>
    .password-reset-container {
        max-width: 600px;
        margin: auto;
        padding: 20px;
        text-align: center;
    }

    .password-reset-container h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .password-reset-container p {
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        line-height: 1.5;
        color: #333;
    }
</style>
{% endblock %}

{% block content %}
<div class="password-reset-container">
    <h1>Check your inbox</h1>
    <p>We’ve emailed you instructions for setting your password,
        if an account exists with the email you entered. You should receive them shortly.</p>
    <p>If you don't receive an email, please make sure you've entered the address you
        registered with, and check your spam folder.</p>
</div>
{% endblock content %}
