{% extends "events/base.html" %}
{% block title %}Forgot Your Password{% endblock %}

{% block extra_styles %}
<style>
    .password-reset-container {
        max-width: 600px;
        margin: auto;
        padding: 20px;
        text-align: left;
    }

    .password-reset-container h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
    }

    .password-reset-container p {
        text-align: center;
    }

    .password-reset-container form {
        background-color: #f7f7f7;
        padding: 15px;
        border-radius: 5px;
    }

    .password-reset-container input[type="email"],
    .password-reset-container button {
        width: 100%;
        margin-bottom: 10px;
    }

    .password-reset-container button {
        background-color: #3498db;
        border: none;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
    }

    .password-reset-container button:hover {
        background-color: #2980b9;
    }

    .password-reset-form label {
        display: block;
        text-align: left;
        margin-bottom: .5rem;
        font-weight: bold;
    }
    
    .password-reset-container input[type="email"] {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }
</style>
{% endblock %}

{% block content %}
<div class="password-reset-container">
    <h2>Forgot your Password?</h2>
    <p>Enter your registered email address below. And we'll send you instructions for setting a new one.</p>
    <form method="POST" class="password-reset-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Send Email</button>
    </form>
</div>
{% endblock content %}
