{% extends "events/base.html" %}

{% block title %}
Sign Up
{% endblock %}

{% block extra_styles %}
<style>
.signup-form label, 
.signup-form {
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 2px;
    font-family: 'Poppins', sans-serif;    
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.signup-form input[type="text"],
.signup-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#signup-button {
    background-color: #3498db;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

#signup-button:hover {
    background-color: #2980b9;
}

/* Optional: Add more styles for focus and active states if needed */
#signup-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.7);
}

#signup-button:active {
    background-color: #1e87d0;
}

</style>
{% endblock %}

{% block content %}
<div class="sticky-note-container-mid mt-5">
    <h2 class="title">Sign Up</h2>
    <form method="post" class="signup-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id="signup-button">Sign Up</button>
    </form>
</div>
{% endblock %}