<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1 id="map_title">MAP</h1>
    <div id="map"></div>
    <div id="data-container"></div>
    
    <script src="../../static/js/script.js"></script>
    <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuMDG00vj9r6toi5hnPH16shGca7R9ibA&map_ids=9a7e26117f10196d&callback=initMap">
</script>
</body>
</html>